# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Coverage
coverage/

# Temp
tmp/
temp/


#figma code
scripts
# Firebase service account key (NEVER commit)
*-adminsdk-*.json
*service-account*.json
*serviceAccount*.json
